@import "/assets/Blog Homepage.css" screen and (max-width: 768px);
.container{
    display:grid;
    display:flex;
    flex-direction: row;
    border: 2px solid rgb(197, 29, 155);
 
  grid-template-areas:
  "hd"
  "main"
  "ft"
}
.box{
  border: 1px solid rgb(15, 15, 15);
  width: 350 px;
  height: 150 px;
  background: palevioletred;
  }

#av{
background-image: url(image.png);
background-size: contain;
}
.content1{
    grid-area:hd;
    order: 1;
    color:chartreuse;
}
h1{
  font-style: italic;
  font-family: monospace;
  text-decoration: underline;
  color: bisque;
}
#nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: pink;
}
.linav{
  float: left;
}
.content2{
  
  order: 2;
}
.footer{
  grid-area:ft;
}
@media only screen and (min-width: 600px)
{
  .container{
    display:grid;
    grid-template-areas: "hd","main","ft";
   
    border: 2px solid rgb(197, 29, 155);
}
}
